{% extends "base.html" %}

{% block title %}Sign Up | onlinshop{% endblock %}

{% block content %}
<div class="page-header"><h1>Sign Up</h1></div>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}"> {{ message|capitalize }} </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% if form %}
    {% for field in form.errors %}
        {% for error in form.errors[field] %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    {% endfor %}
{% endif %}

{% if form %}
<form action="{{ url_for('signup') }}" method="POST" novalidate class="mb-10">
    <div class="form-group mt-2">
        <label for="username">{{ form.username.label }}</label>
        {{ form.username(id="username", class="form-control", placeholder="Enter your username") }}
    </div>
    <div class="form-group mt-2">
        <label for="password">{{ form.password.label }}</label>
        {{ form.password(id="password", class="form-control", placeholder="Enter your password") }}
</div>
    <div class="form-group mt-2">
        <label for="confirmed_password">{{ form.confirmed_password.label }}</label>
        {{ form.confirmed_password(id="confirmed_password", class="form-control", placeholder="Enter your confirmed password") }}
    </div>
<div class="form-group mt-2">
    {{ form.csrf_token }}
    <input type="reset" class="btn btn-light" value="Reset">
    {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endif %}
{% endblock %}